name: Benchmark PR vs main

on:
  workflow_dispatch:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  benchmark-build:
    timeout-minutes: 30
    runs-on: [self-hosted, macos-26]

    steps:
    - name: Wipe gitconfig
      if: ${{ runner.os == 'Macos' }}
      run: echo "" > ~/.gitconfig
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Git credential setup
      uses: ./.github/actions/credentials-setup
      with:
        token: ${{ secrets.CI_MACHINE_PAT }}
        ordo-auth-token: ${{ secrets.ORDO_AUTH_TOKEN }}

    - name: Benchmark defined check
      run: |
        if [ -d Benchmarks ]; then
          echo "hasBenchmark=1" >> $GITHUB_ENV
          if [ -f Benchmarks/Package.swift ]; then
            echo "BENCHMARK_PACKAGE_PATH=--package-path Benchmarks" >> $GITHUB_ENV
          fi
          echo "BENCHMARK_RUN_URL=https://github.com/ordo-one/${{ github.event.repository.name }}/actions/runs/${{ github.run_id }}" >> $GITHUB_ENV
        fi
    - name: Package update
      if: ${{ env.hasBenchmark == '1' }}
      run: |
        swift package update ${BENCHMARK_PACKAGE_PATH} --resolver-fingerprint-checking=warn
    - name: Build benchmark
      if: ${{ env.hasBenchmark == '1' }}
      run: |
        swift build ${BENCHMARK_PACKAGE_PATH}

  benchmark-delta:
    timeout-minutes: 30
    runs-on: ${{ matrix.os }}
    needs: benchmark-build

    strategy:
      matrix:
        os: [[Linux, benchmark-swift-stable, self-hosted]]

    env:
      SWIFTLY_HOME_DIR: /usr/local/share
      SWIFTLY_BIN_DIR: /usr/local/bin
      SWIFTLY_TOOLCHAINS_DIR: /usr/local/share/toolchains

    steps:
      - name: Wipe gitconfig
        if: ${{ runner.os == 'Macos' }}
        run: echo "" > ~/.gitconfig
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Git credential setup
        uses: ./.github/actions/credentials-setup
        with:
          token: ${{ secrets.CI_MACHINE_PAT }}
          ordo-auth-token: ${{ secrets.ORDO_AUTH_TOKEN }}
      - name: CPU tune
        run: |
          /usr/bin/ordo-performance
      - name: Benchmark check
        run: |
          if [ -d Benchmarks ]; then
            echo "hasBenchmark=1" >> $GITHUB_ENV
            if [ -f Benchmarks/Package.swift ]; then
              echo "BENCHMARK_PACKAGE_PATH=--package-path Benchmarks" >> $GITHUB_ENV
            fi
            echo "BENCHMARK_RUN_URL=https://github.com/ordo-one/${{ github.event.repository.name }}/actions/runs/${{ github.run_id }}" >> $GITHUB_ENV
          fi
      - name: Start Redpanda
        if: ${{ env.hasBenchmark == '1' && github.repository == 'ordo-one/ordo' }}
        uses: ./.github/actions/redpanda-start
      - name: Run benchmarks for PR branch
        if: ${{ env.hasBenchmark == '1' }}
        run: |
          echo "exitStatus=1" >> $GITHUB_ENV
          swift package ${BENCHMARK_PACKAGE_PATH} --disable-sandbox benchmark baseline update pull_request --no-progress
      - name: Switch to branch 'main'
        if: ${{ env.hasBenchmark == '1' }}
        run: |
          git stash
          git checkout main
      - name: Run benchmarks for branch 'main'
        if: ${{ env.hasBenchmark == '1' }}
        run: |
          swift package ${BENCHMARK_PACKAGE_PATH} --disable-sandbox benchmark baseline update main --no-progress
      - name: Compare PR and main
        if: ${{ env.hasBenchmark == '1' }}
        id: benchmark
        continue-on-error: true
        run: |
          echo $(date) >> $GITHUB_STEP_SUMMARY
          set +e
          swift package ${BENCHMARK_PACKAGE_PATH} benchmark baseline check main pull_request --format markdown > benchmark_output.md 2> benchmark_error
          echo "exitStatus=$?" >> $GITHUB_ENV
          set -e
          echo "benchmarkError=$(cat benchmark_error | grep -e "^error: .*" | tail -n 1 | cut -c 8-)" >> $GITHUB_ENV

          echo "::group::benchmark markdown"
          cat benchmark_output.md
          echo "::endgroup::"

      - name: Pull request comment text
        if: ${{ env.hasBenchmark == '1' }}
        id: benchmark-comment
        run: |
          swift package ${BENCHMARK_PACKAGE_PATH} benchmark baseline compare main pull_request --no-progress --quiet --format markdown > benchmark_compare.md
          {
            if [ "${{env.exitStatus}}" = "0" ]; then
              echo "_✅ Pull request has no significant performance differences ✅_"
            else
              ERROR="${{env.benchmarkError}}"
              if [ "$ERROR" = "benchmarkThresholdRegression" ]; then
                echo "_❌ Pull request has performance regressions ❌_"
              elif [ "$ERROR" = "benchmarkThresholdImprovement" ]; then
                echo "_✅ Pull request has performance improvements ✅_"
                echo "exitStatus=0" >> $GITHUB_ENV
              else
                echo "_❌ Benchmark comparison failed with error $ERROR ❌_"
              fi
            fi
            echo "[Pull request benchmark comparison [${{ runner.os }}] with 'main' run at $(date -Iseconds)]($BENCHMARK_RUN_URL)"
            echo "<details><summary>Summary</summary>"
            cat benchmark_output.md
            echo "</details>"

            if [ $(wc -c < benchmark_compare.md) -le 10000 ]; then
              echo "<details><summary>Full Benchmark Comparison</summary>"
              cat benchmark_compare.md | cut -c1-10000
              echo "</details>"
            fi
          } > benchmark_comment

      - name: Comment PR
        if: ${{ env.hasBenchmark == '1' }}
        uses: thollander/actions-comment-pull-request@v2
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          filePath: benchmark_comment
          comment_tag: 'Pull request benchmark comparison [${{ runner.os }}]'
      - name: Stop Redpanda
        if: ${{ env.REDPANDA_BROKERS != '' }}
        run: |
          sudo -u redpanda rpk redpanda stop
      - name: Exit with correct status
        if: ${{ success() || failure() }}
        run: |
          /usr/bin/ordo-performance powersave
          exit ${{ env.exitStatus }}
