name: Swift test code coverage

on:
  schedule:
   - cron: '15 1 * * *'
  workflow_dispatch:
#  push:
#    branches: [ main ]
#    paths:
#      - '**.swift'
#      - 'Package.resolved'
#      - '**.c'
#      - '**.h'
#  pull_request:
#    branches: [ main ]
#    paths:
#      - '**.swift'
#      - 'Package.resolved'
#      - '**.c'
#      - '**.h'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-code-coverage:
    runs-on: [swift-stable, ubuntu-latest, X64, self-hosted]
    timeout-minutes: 60
    steps:
    - uses: actions/checkout@v4
    - name: Git credential setup
      uses: ./.github/actions/credentials-setup
      with:
        token: ${{ secrets.CI_MACHINE_PAT }}
        ordo-auth-token: ${{ secrets.ORDO_AUTH_TOKEN }}

    - name: Start Redpanda
      uses: ./.github/actions/redpanda-start

    - name: Run tests
      env:
        ENABLE_PARALLEL_TESTS: ${{ vars.ENABLE_PARALLEL_TESTS }}
      continue-on-error: true
      run: |
        if [ -d Tests ]; then
           if [ "${ENABLE_PARALLEL_TESTS}" = "1" ]; then
            swift test --enable-code-coverage --parallel
          else
            swift test --enable-code-coverage
          fi
        fi

    - name: Export code coverage
      run: |
         xctest_binary=".build/debug/${{ github.event.repository.name }}PackageTests.xctest"
         if [ ! -f ${xctest_binary} ]; then
             xctest_binary=$(find .build/debug/ -type f -name "*.xctest" | tail -1)
             echo "Will llvm-cov '${xctest_binary}'"
         fi

         if [ -f ${xctest_binary} ]; then
             llvm-cov export -format="lcov" ${xctest_binary} -instr-profile .build/debug/codecov/default.profdata > info.lcov
         fi

    - name: Stop Redpanda
      if: ${{ env.REDPANDA_BROKERS != '' }}
      run: |
        sudo -u redpanda rpk redpanda stop

    - name: Upload codecov
      uses: codecov/codecov-action@v4
      with: 
        token: ${{ secrets.CODECOV_REPO_TOKEN }} 
        files: info.lcov
        fail_ci_if_error: true
